<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns		= "http://www.w3.org/ns/widgets"
	xmlns:gap	= "http://phonegap.com/ns/1.0"
	id		= "com.infrasupport.suw"
	version 	= "1.0.0">

	<name>schnappundweg</name>

	<description>
		My amazing App
	</description>

	<author href="https://github.com/ahy"
		email="ariane.hy@gmail.com">
		Andrew Lunny
	</author>

	<icon src="icon.png" gap:role="default" />

	<feature name="http://api.phonegap.com/1.0/geolocation"/>
	<feature name="http://api.phonegap.com/1.0/network"/>

	<preference name="orientation" value="portrait" />
</widget>
